:root {
  --primary-text-color: hsl(0, 0%, 15%);
  --secondary-text-color: hsl(0, 0%, 45%);
  --primary-bg-color: hsl(0, 0%, 100%);
  --secondary-bg-color: hsl(0, 0%, 95%);
  --tertiary-bg-color: hsl(0, 0%, 85%);
  --primary-accent-color: hsl(20, 100%, 50%);
  --secondary-accent-color: hsl(20, 85%, 85%);
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* header */

header {
  background-color: var(--primary-bg-color);
  box-shadow: 0 0.3rem 0.6rem var(--tertiary-bg-color);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  z-index: 4;
}

header > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  display: none;
}

.icon-container {
  width: 2rem;
}

.icon-container img {
  width: 100%;
  height: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar > input {
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 1rem;
  width: 80%;
  border-radius: 0.5rem;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.search-bar > button {
  display: none;
}

.menu {
  margin: 0 auto;
  cursor: pointer;
}

.menu-bg {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 50%;
}

.menu-bg:hover {
  background-color: var(--secondary-bg-color);
}

/* main */

main {
  margin: 6rem auto;
  min-height: calc(100vh - 13.5rem);
}

.about {
  margin: 0 1rem;
}

.about > .content {
  background-color: var(--primary-bg-color);
  box-shadow: -0.3rem 0.3rem 0.6rem var(--tertiary-bg-color);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.about p {
  margin: 1rem 0;
}

.about .navbar-prompt {
  display: none;
}

.loading {
  margin: 0 1rem;
  padding: 1rem 2rem;
}

/* cards */

.card-list {
  margin: 0 1rem;
}

.subreddit {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--primary-bg-color);
  box-shadow: -0.3rem 0.3rem 0.6rem var(--tertiary-bg-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.card p {
  margin: 0.5rem 0;
}

.card > .intro {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: .875rem;
}

.card > .title {
  margin: 0.5rem 0;
}

.card > .link {
  display: block;
  overflow: hidden;
}

.card > .body {
  overflow: hidden;
}

.img-container {
  width: min(100%, 30rem);
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: auto;
}

.card > .comments {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  width: 10rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.card > .comments p {
  font-size: .875rem;
  font-weight: bold;
}

.card > .comments-link:hover {
  background-color: var(--secondary-bg-color);
}

.video-container {
  position: relative;
  z-index: 1;
  padding-top: 56.25%;  /* 16:9 ratio */
}

.video-container > iframe {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* posts */

.post {
  margin: 0 1rem;
}

.post > .comments {
  list-style: none;
  padding: 1rem 2rem 2rem;
  background-color: var(--primary-bg-color);
  box-shadow: -0.3rem 0.3rem 0.6rem var(--tertiary-bg-color);
  border-radius: 1rem;
}

.comment > .content {
  background-color: var(--secondary-bg-color);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.comment p {
  margin: 0.5rem 0;
}

.comment .title {
  font-size: .75rem;
  font-weight: bold;
}

.comment .title > span {
  color: var(--secondary-text-color);
  font-weight: normal;
}

.post .replies {
  list-style: none;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--tertiary-bg-color);
}

.post .reply {
  background-color: var(--secondary-bg-color);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.reply .title {
  font-size: .75rem;
  font-weight: bold;
}

.reply .title > span {
  color: var(--secondary-text-color);
  font-weight: normal;
}

/* navbar */

.navbar {
  margin-right: 1rem;
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 3;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: 0.3s;
}

nav {
  background-color: var(--primary-bg-color);
  box-shadow: -0.3rem 0.3rem 0.6rem var(--tertiary-bg-color);
  border-radius: 1rem;
  padding: 1rem;
}

nav > h2 {
  display: none;
}

nav > ul {
  list-style: none;
}

.subreddit-link > a {
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.subreddit-link .icon-container {
  display: none;
}

.inactive {
  color: var(--primary-text-color);
}

.inactive:hover {
  background-color: var(--secondary-bg-color);
}

.active {
  color: var(--primary-accent-color);
  background-color: var(--secondary-accent-color);
  border-left: 0.5rem solid var(--primary-accent-color);
}

/* footer */

footer {
  text-align: right;
}

footer p {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* small screens */
@media only screen and (min-width: 1024px) {
  header h1 {
    display: initial;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-accent-color);
    text-transform: uppercase;
    margin-left: 1rem;
  }
  
  header h1 > span {
    font-style: italic;
    font-weight: normal;
    color: var(--primary-text-color);
    text-transform: capitalize;
  }
}

/* medium screens */
@media only screen and (min-width: 1280px) {
  /* header */

  .menu-bg {
    display: none;
  }

  /* search bar */

  .search-bar > input {
    width: 60%;
  }

  .search-bar > button {
    display: initial;
    border: none;
    background-color: var(--primary-bg-color);
    margin-left: 1rem;
    opacity: 50%;
    transition: opacity 0.2s, transform 0.1s;
    cursor: pointer;
  }
  
  .search-bar > button:hover {
    opacity: 100%;
  }
  
  .search-bar > button:active {
    transform: scale(0.8);
  }

  /* main */

  main {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  .about .menu-prompt {
    display: none;
  }

  .about .navbar-prompt {
    display: initial;
  }

  /* navbar */

  .navbar {
    position: static;
    opacity: 1;
    transform: scaleY(1);
  }
  
  nav {
    padding: 1rem 2rem;
  }
  
  nav > h2 {
    display: initial;
  }

  nav > ul {
    margin: 1rem 0;
  }
  
  .subreddit-link > a {
    padding: 0.8rem;
  }

  .subreddit-link .icon-container {
    display: initial;
  }
  
  .subreddit-link img {
    border-radius: 50%;
  }
  
  .subreddit-link p {
    margin-left: 0.5rem;
  }
  
  .inactive img {
    border: 0.15rem solid var(--primary-text-color);
  }
  
  .active img {
    border: 0.15rem solid var(--primary-accent-color);
  }
}

/* large screens */
@media only screen and (min-width: 1600px) {
  main {
    width: 80vw;
  }
}

/* extra large screens */
@media only screen and (min-width: 1920px) {
  main {
    width: 60vw;
  }
}